@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
    --fontSize: 18px;
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    --fontFamily: 'Public Sans', sans-serif;
    --headerFont: 50px;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
